
<div class="results">
  <h1>Here's what we found...</h1>

  <div class="property-data">
    <h6><%= @realprop.address[:street] %>, <%= @realprop.address[:city] %>, <%= @realprop.address[:state] %> <%= @realprop.address[:zipcode] %></h6>
	<p> <%= @realprop.use_code %> built in <%= @realprop.year_built %></p>
	<p> <%= @realprop.lot_size_square_feet %> sq. ft lot with <%= @realprop.finished_square_feet %> sq. ft of finished space</p>
	<p>Tax-assessed market value at <%= number_to_currency(@realprop.tax_assessment) %> in <%= @realprop.tax_assessment_year %> </p>
	<h6>Zillow Home Valuation Estimate:</h6>
	<p> Low: <%= number_to_currency(@realprop.valuation_range[:low]) %> </p>
	<p> Med: <%= number_to_currency(@realprop.price) %> </p>
	<p> High: <%= number_to_currency(@realprop.valuation_range[:high]) %> </p>
  </div>


  <div class="hood-data">
	<h6> Richmond Neighborhood Demographics: </h6>
	<% @hood.segmentation.each do | name, value | %>
	<p><em> <%= name %> </em><br>
	    <%= value.map{| _k,v | "#{v}\n"}.join("\n") %> </p>
	<% end %>
	<p><%= @hood.characteristics['Education'].join(", ") %> </p>
	<p><%= @hood.characteristics['Employment'].join(", ") %> </p>
	<p><%= @hood.characteristics['Income'].join(", ") %> </p>
	<p><%= @hood.characteristics['People & Culture'].join(", ") %> </p>
  </div>

  <div class="comp-data">
	<h6>Comparable Homes in the Area: </h6>
	<% if @comps.success? %>
	<% @comps.comparables.each do | score, comp | %>
		 <p> Address: <%= comp.address[:street] %> </p>	     
	     <p> Zillow Comparability Score: <%= score %> </p>
		 <p> Last Sale Price: <%= number_to_currency(comp.price) %> </p>
		 <% end %> 
	<% else %>
	<p>Sorry, Zillow has no comparable home data available for this address</p>
  </div>
  <% end %>

</div>